@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: "Nova Square", sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: dodgerblue;
}

a:active {
    color: red;
}
/*It's important to put sudo class in correct order because it wont work when not used in order*/