* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    border: 2px dashed red;
    width: 50%;
    padding:0.5em;
    margin: 0.5em;
}

main {
    width: 50VW;
    background-color: skyblue;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
}

p {
    width: 40ch;
    font-family: monospace;
}