@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 5% 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

ol {
    list-style-type: lower-alpha;
    padding: 0;
}

ul{
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
    color: blue;
    line-height: 1.6;
    /*list-style-image: url("../images/checkmark-svgrepo-com\ \(1\).svg");
    list-style: square url("../images/checkmark-svgrepo-com\ \(1\).svg") inside;*/
}

ul li:nth-child(even) {
    color: red;
}

ul li::marker {
    color: red;
    font-family: fantasy;
    font-size: 0.5em;
    content: "Only $5 >> ";
}